<ion-content fullscreen>

  <div id="map"></div>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="this.removeLast()">
      <ion-icon name="return-down-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-tab-bar>

    <ion-tab-button tab="points">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Points</ion-label>
      <ion-badge>{{this.points.length}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="trash" (click)="this.clearElements()">
      <ion-icon name="trash-outline" color="danger"></ion-icon>
      <ion-label>Clear</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="compute" (click)="this.computeRoute()">
      <ion-icon name="arrow-forward-circle-outline" color="success"></ion-icon>
      <ion-label>Go</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-footer>
