<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="this.transportModeChanged($event.detail.value)" value="{{this.transportMode}}">
      <ion-segment-button value="cycling">
        <ion-icon name="bicycle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="driving">
        <ion-icon name="car"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="walking">
        <ion-icon name="walk"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div id="map"></div>

  <ion-fab *ngIf="this.editMode" horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button size="small" color="danger" (click)="this.removeLast()">
      <ion-icon name="return-down-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="this.editMode" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="success" (click)="this.setEditMode(false)">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="!this.editMode" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" (click)="this.setEditMode(true)">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-tab-bar>

    <ion-tab-button tab="points">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Points</ion-label>
      <ion-badge>{{this.points.length}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="trash" (click)="this.clearElements()">
      <ion-icon name="trash-outline" color="danger"></ion-icon>
      <ion-label>Clear</ion-label>
    </ion-tab-button>

    <!--
    <ion-tab-button tab="settings" (click)="this.editSettings()">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
    -->

    <ion-tab-button tab="compute" (click)="this.computeRoute()">
      <ion-icon name="arrow-forward-circle-outline" color="success"></ion-icon>
      <ion-label>Go</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-footer>
